/* @media (max-width:1210px) {
    .main-nav{
        max-width: 870px;
    }
    .row>* {
        flex: 1 1 40%;
    }
}
 @media (max-width:992px) {
.container{
    max-width: 971px;
}
.row {
    justify-content: flex-start;
}
.col{
    max-width: 298px;
}
}  */
